<div class="card" style="width: 18rem;">
					  <img src="https://cdnmedia.baotintuc.vn/2013/09/18/20/14/T16-Frank-Lampard.jpg" class="card-img-top" alt="...">
					  <div class="card-body">
					    <h5 class="card-title">Card <%= value.title%></h5>
					    <p class="card-text"><%= value.disc%></p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
</div>