<div class="card">
   <img src="http://placeimg.com/350/200/any" class="card-img-top" alt="...">
   <div class="card-body">
      <h5 class="card-title"><%= value.Title %></h5>
      <p class="card-text"><%= value.desc %></p>
      <a href="/" class="btn btn-success">Follow</a>
   </div>
</div>	