<a href="#item">
    <div class='item'>
        <div class='btn_close d-none'>X</div>
        <div class='item_top'>
            <div class='bg_item item_1 col-sm-12'></div>
        </div>
        <div class='item_bot'>
            <div class='thongtinsp'>
                <div class='ten_sp'><%= item.ten_sp %></div>
                <div class='gia_km'><%= item.gia_km %></div>
                <div class='gia'><%= item.gia %></div>
            </div>
            <div class='mua'></div>
        </div>
    </div>
</a>