<div class="productBox">
	<div class="paddingTop">
		<img src="<%= item.img %>">
	</div>
	<div class="products">
		<div class="productName"><%= item.productName %></div>
	</div>
	<div class="prices">
		<div><%= item.prices.prices1 %><s><%= item.prices.prices2 %></s></div>
	</div>
	<div class="desciption">
		<div class="">DDR3_4GB Laptop Hynix. Lorem Ipsum is simply dummy text of the printing and...</div>
	</div>
	<button type="button" class="btn btn-primary btn-lg btn-block buyNow"><i class="fas fa-shopping-cart icon"></i>CHỌN MUA</button>
</div>