<div class="row topbar">
	<div class="col-sm-3">
		<div class="float-left"><i class="fas fa-envelope icon"></i>quocvuonglamhcm@gmail.com</div>
	</div>
	<div class="col-sm-3">
		<div><i class="fas fa-phone-volume icon"></i> 0969.942.689</div>
	</div>
	<div class="col-sm-6">
		<div class="social float-right">
			<div class="d-inline mr-1">
				<a href="http://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
			</div>
			<div class="d-inline mr-1">
				<a href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
			</div>
			<div class="d-inline mr-1">
				<a href="http://pinterest.com" target="_blank"><i class="fab fa-pinterest-square"></i></a>
			</div>
			<div class="d-inline mr-1">
				<a href="http://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="d-inline mr-1">
				<a href="http://skype.com" target="_blank"><i class="fab fa-skype"></i></a>
			</div>
		</div>
	</div>
</div>