<div class="row headbar">
	<div class="col-sm-12 bgWhite">
		<div class="logo">LOGO</div>
		<div class="mt">
			<nav class="navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="#"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="margin-left: 79%">
					<span class="navbar-toggler-icon"></span>
				</button>
  			<div class="collapse navbar-collapse" id="navbarNavDropdown">
    			<div class="navbar-nav">
      				<div class="nav-item active">
        				<a class="nav-link" href="#">Trang chủ</a>
      				</div>
      				<div class="nav-item">
        				<a class="nav-link" href="#">Giới thiệu</a>
      				</div>
      				<div class="nav-item dropdown">
       					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dịch vụ</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          					<a class="dropdown-item" href="#">Sửa máy tính</a>
          					<a class="dropdown-item" href="#">Sửa máy in</a>
          					<a class="dropdown-item" href="#">Thi công mạng</a>
          					<a class="dropdown-item" href="#">Dịch vụ khác</a>
        				</div>
      				</div>
      				<div class="nav-item dropdown">
       					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Linh kiện</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          					<a class="dropdown-item" href="#">Máy tính</a>
          					<a class="dropdown-item" href="#">Máy in</a>
          					<a class="dropdown-item" href="#">Thiết bị mạng</a>
        				</div>
      				</div>
      				<div class="nav-item">
        				<a class="nav-link" href="./assets/pages/nhap_lieu/nhap_lieu.html">Liên hệ</a>
      				</div>
    			</div>
				</div>
			</nav>
		</div>
		<div class="">
			<div class="btn btn-primary cartBtn">
				<i class="fas fa-shopping-cart icon cartIcon1"></i><span class="counter d-none" da-chon="0">0</span>
			</div>
		</div>
		<div class="searchBox">
			<div class="input-group">
					<input type="text" class="form-control" placeholder="Tìm kiếm...">
					<div class="input-group-btn">
							<button class="btn btn-light" type="submit">
								<i class="fas fa-search"></i>
							</button>
					</div>
				</div>
		</div>
	</div>
</div>
<div class="row searchbar">
</div>