<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="main.js"></script>
</head>

<body>

    <div class="screenLogin d-flex justify-content-center align-items-center">
        
            <form class="card" method="POST" action="/account/login">
                <h5 class="card-header bg-light text-primary text-center">Log in your account</h5>
                <% if (error ) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } else %>
                <div class="card-body">
                    <div class="input-box">
                        <input type="text" name="email" id="email" required>
                        <label for="email">Username</label>
                    </div>
                    <div class="input-box">
                        <input type="password" name="password" id="password" required>
                        <label for="password">Password</label>
                        <i class="btn fas fa-eye-slash position-absolute right-0 top-5 text-primary"></i>
                    </div>
                    <button class="btn btn-primary w-100">Login</button>
                    <div class="text-center mt-2">
                        <a href="#" class="w-100 text-center">Create new account</a>
                    </div>
                </div>
            </form>
        
    </div>
</body>

</html>