<div class="card" >
  <img src="https://placeimg.com/350/200/any" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card <%= value.title %></h5>
    <p class="card-text"><%= value.desc %></p>
    <a href="#" class="btn btn-primary"><%= value.btn %></a>
  </div>
</div>				