body {
  font-family: 'Merriweather', serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.main{
	width:550px;
	height:550px;
	border:1px solid white;
}
h1{
	color:blue;
}
.bg-img{
	background-image: url('../images/Banner PC.webp');
}