body {
  font-family: 'Merriweather', serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.main{
	width:750px;
	height:750px;
	border:1px solid white;
	margin-left:40px;
}
h1{
	color:blue;
	font-weight:bold;
}
.bg-img{
	background-image:url('/assets/images/banner.png');
}