body {
  font-family: 'Merriweather', serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
h1{
	text-align:center;
	text-transform:capitalize;
	color:blue;
}
.uk-subnav.uk-subnav-pill{
	margin:50px;
}
a{
	color:navy !important;
	margin:20px;
}
.uk-search.uk-search-default{
	width:1500px;
}
img{
   margin:10px;
   border:1px solid lightgray;
}
p{
	color:red !important;
}
hr{
	width:150px;
}