<!DOCTYPE html>
<html>
<head>
	<%- include('assets/pages/link'); %>
</head>
<body data-spy="scroll" data-target="#navbar-example">
    <div class="main">
        <div class='center'>
			<%- include('assets/pages/header'); %><!--header -->
			<%- include('assets/pages/body'); %><!--body-->
			<%- include('assets/pages/footer'); %><!--footer-->
		</div>
	</div>
</body>
</html>
