body {
	-webkit-print-color-adjust: exact;
}

.webWrap {
	max-width: 1440px;
	margin: auto;
	font-family: var(--font-family-sans-serif);
}

* {
  box-sizing: border-box;
}

.topbar {
	line-height: 38px;
	font-weight: bold;
	background-color: #007bff;
	position: relative;
	z-index: 3;
	font-size: 12px;
	color: white;
}

.logo {
	line-height: 100px;
	font-weight: bold;
	float: left;
	color: blue;
}

.bgWhite {
	background-color: white;
}

.icon {
	margin-right: 4px;
}

.headbar {
	height: 112px;
	background-color: white;
	position: sticky;
	top: 0px;
	z-index: 2;
}

a, .social {
	color: #98D4F0;
}

.fab {
	line-height: 38px;
}

.fab:hover {
	color: #F9FFFF;
	cursor: pointer;
}

.col-w20 {
	text-align: right;
	float: left;
	width: 20%;
}

.nav-link, .dropdown-item {
	text-transform: uppercase;
	color: blue !important;
}

.nav-item:hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.navbar-nav {
	background-color: white;
}

.mt {
	margin-top: -1%;
    margin-right: 15%;
    float: right;
}

.button {
    width: 26.75%;
}

.cartBtn {
	position: absolute;
    right: 15px;
    /* width: 160px; */
    width: 60px;
	height: 40px;
	top: 12%;
}

.searchBox {
	width: 55%;
	position: absolute;
	bottom: 10%;
	right: 15px;
}

@media only screen and (max-width: 414px){
	.searchBox {
		left: 15px;
	}
	.cartBtn {
		right: 94px;
		top: 18%;
	}
}

.lkMaytinh {
	color: #007bff;
	line-height: 42px;
	font-size: 28px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	height: 42px;
	margin-top: 48px;
}

img {
	width: 100%;
	height: auto;
}

.paddingTop {
	padding-top: 24px;
}

.products {
	padding-top: 16px;
	height: 20px;
}

.selected {
	border: 1px solid blue;
	border-radius: 5px;
}

.productName {
	color: var(--textColor);
	font-weight: bold;
	font-size: 17px;
}

.cartIcon {
	font-size: 20px;
    position: absolute;
    left: 25%;
    bottom: 0%;
}

.cartIcon1 {
	font-size: 20px;
    line-height: 28px;
}

.counter {
	width: 26px;
    height: 26px;
    background: #ff8f00;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    line-height: 24px;
}

.desciption {
	    margin-top: 15px;
	    color: var(--textColor);
}

.buyNow {
	font-size: 16px;
	width: 88.24%;
	position: absolute;
	bottom: 20px;
}

.prices {
	color: blue;
	font-weight: bold;
	font-size: 20px;
	margin-top: 28px;
	height: 22px;
}

s {
	color: var(--textColor);
	font-size: 14px;
}

.hover {
	background-color: lightblue;
	cursor: pointer;
}

:root {
	--lightBlue: #31AAE1;
	--bgLightBlue: #31AAE1;
	--bgBlue: #0F74EA;
	--bgColor: #E5E5E5;
	--textColor: #4D4D4D;
	--hideTextColor: #8F8F8F;
	--footerColor: #313131;
	--btColor: #2D2D2D;
	--textWhite: #F9FFFF;
	--textGrey: #6B6B6B;
	--borderBottom: #3C3C3C;
}

.productBox {
	border-radius: 5px;
	padding: 0px 15px 0px 15px;
	box-shadow: 0 0 20px #cfcfcf;
	margin-top: 46px;
	width: 100%;
	height: 380px;
	position: relative;
}

/*.productBox:hover {
	background-color: lightblue;
	cursor: pointer;
}*/

.viewAll {
	font-size: 16px;
	margin-top: 40px;
}

.note {
	font-style: italic;
	margin-top: 40px;
}

.footer {
	/*height: 452px;*/
	margin-top: 50px;
	background-color: var(--footerColor);
}

.bottombar {
	line-height: 60px;
	background-color: var(--btColor);
}

.miniNav {
	text-align: right;
}

.footer {
	font-size: 15px;
	color: var(--textWhite);
}

.bottombar {
	font-size: 14px;
	color: var(--textGrey);
}

.postsList {
	margin-top: 98px;
}

.posts, .reasons, .mail, .phone, .address {
	height: 46px;
	border-bottom: 1px solid var(--borderBottom);
}

.about {
	height: 98px;
	border-bottom: 1px solid var(--borderBottom);
}

.posts:first-child, .posts:last-child, .reasons:last-child {
	border: none;
}

.reasons1 {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 56px;
	background-color: #007bff;
}

.reasonsList {
	margin-top: 46px;
}

.reasons:first-child {
	padding-bottom: 2px;
	line-height: normal;
}

.aboutUs {
	margin-top: 96px;
}

.abouts {
	height: 46px;
}
